<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    body{
       text-align: center;

    }
    form{
         display: inline-block;

    }
    {    border:5px solid black;
         border-inline-style: dashed;
       }
</style>

    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body style="background-color: blue;">
<h2 style="color:white;">Register</h2>
 <form action="register" method="post">
     {% csrf_token %}

     <input type="text" name="username" placeholder="username"><br>

     <input type="text" name="first_name" placeholder="Enter your first name"><br>

     <input type="text" name="last_name"  placeholder="Enter your last name"><br>

     <input type="email" name="email" placeholder="Enter your email address"><br>

     <input type="password" name="password" placeholder="Enter your password"><br>
     <input type="password" name="password1" placeholder="Enter your confirm your password"><br>
     <input type="submit">
 </form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>




